@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-image: radial-gradient(#0099ff22 1px, #fafafa 1px),
    radial-gradient(#0099ff22 1px, #fafafa 1px);
  background-position: 0 0, 25px 25px;
  background-size: 30px 30px;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
